$obu-purple: #d10373;
$obu-dark-grey: #424a52;

.section-heading {
  p {
    color: $obu-dark-grey !important;
  }  
}

.wg-hero {
  .btn {
    color: white !important;
    background-color: $obu-purple;
    border-color: $obu-purple;
  }
  .btn:hover {
    color: white;
    background-color: $obu-dark-grey;
    border-color: $obu-dark-grey;
  }
}

.site-footer {
  img {
    float:left;
    max-width: 150px;
  }
}

/* Articles */
.article-container {
  position: relative;
  overflow: inherit;
}

.article-style {
  overflow: inherit !important;
}

.wide-child {
  width: 80vw;
  position: relative;
  left: calc(-40vw + 50%);
}